<div class="panel-body well">
    <div class="row">
        <div class="col-sm-3">
            <form class="form-group" enctype="multipart/form-data" novalidate="novalidate" >
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-center"> <label  for="inputName" >Espece:  </label></td>
                            <td><select name="type" class="form-control" ng-model="this.especeChoisie" required="true">
                                    <option ng-repeat="espce in especes" ng-value="espce.id">{{espce.nom}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"> <label  for="inputName" >Besoin alimentaire:  </label></td>
                            <td><input type="text" id="inputName" ng-model="besoin.nom" required="true" style="width: 10em;"/></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-sm-9">
            <form class="form-group" enctype="multipart/form-data" novalidate="novalidate" >
                <table class="table table-bordered">
                    <tr>
                        <th ng-repeat=" item in valeurs" class="text-center">
                            {{item.code}}
                        </th>
                    </tr>
                    <tbody >
                        <tr>
                            <td ng-repeat=" item in valeurs"><input style="width: 50px" type="number" id="inputName" ng-model="item.valeur" required="true"/></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="modal-footer">
                <button class="btn btn-primary btn-infos" ng-click="enregistrer(besoin, valeurs)" >save</button>
            </div>
        </div>
    </div>
</div>
